img
    width 35%
.Footer
    bottom 0
    width 100%
    position absolute
    height: 60px
.FooterBlock
    margin 20px 0

/*Media Query*/
@media (min-width: 320px) and (max-width: 767px)
    .Footer
        height 35px

@media (min-width: 768px) and (max-width: 1279px)
    .Footer
        height 100px
    .FooterBlock
        margin 0px 0px
    img
        width 24%
@media (min-width: 1280px)
    img
        width: 13%
    .Footer
        height 100px
        text-align right !important
        padding-right 8%
    .FooterBlock
        margin 0px 0px