.ContainerLineCredit
    padding-right 25px
    padding-left 25px
.StyleCard
    height 150px
.CardTablet
    justify-content center
.StyleContainerR
    padding-right 4px
    padding-left 25px
.StyleContainerL
    padding-left 4px
    padding-right 25px 
.IconOrdinary
    font-size 2.7em
    color #349bdc
    padding-top 0.1em
.IconLeasing
    font-size 2.7em
    color #cfcfcf
    padding-top 0.1em
.TextOrdinary
    font-size .7em
    font-weight bold
    padding-top 0.9em
.TextLeasing
    font-size .7em
    font-weight bold
    padding-top 0.9em
.TextLeasingL
    font-size .7em
    padding-top 0.9em
    color #bababa
    font-weight 500
    text-shadow 0px 0px 0.5px #bababa
.LinkContinue
    padding .3rem .3rem
    position relative
    top 3px 
    text-align center
    background-color #ebe9e9
.LinkContinueL
    padding .3rem .3rem
    position relative
    top 3px 
    text-align center
    background-color #f4f3f3
.LinkContinue .card-link
    font-size 0.8em
.LinkContinueL .card-link
    font-size 0.8em
    text-shadow 0px 0px 0.5px #cfcfcf
.LinkContinueL a
    color #bababa
    font-weight 500
.TextCreditLine
    margin-bottom 14px
    color #349bdc
    font-weight 500
    font-size 0.8em
    padding-left 27px
a
    color #349bdc
.AlertM
    margin auto
    margin-top 1em
    padding-right 0px
    padding-top 5px;
    padding-bottom 5px;
.TextAlert
    font-size 11px
    color #e3bb2f
    font-weight 500px
    border-left 2px solid #e3bb2f
    padding-right 0px
    padding-top 3px
.IconWarning
    color #e3bb2f
    font-size 1.7em
    position relative
    right 15px
.AlertM .ColIcon
    padding 0
.listCreditLine
    width: 200px;
    border-bottom 2px solid #f0f0f0
.BorderCreditLine
    width: 200px;
    border-bottom 3px solid #349bdc
.ItemCreditLine
    justify-content center
.ItemCreditLine li
    text-align center
.StyleOperation
    background-color rgba(0, 0, 0, 0) !important
    color black !important
.LineCreditLg
    justify-content center
.LineCreditLg .TextCreditLine
    padding-left 0
    position relative
    right 1.5%

/*Media Querys*/
@media (min-width: 768px)
    .TextCreditLine
        padding-left 60px
        font-size 0.9em
@media (min-width: 1280px)
    .TextAlert
        padding-top 11px