<!--Móvil-->
<div class="container d-block d-sm-block d-md-none">
    <div class="row">
        <div class="col-12 TextCreditLine">
            Indique la línea de crédito que quiere reconsiderar
        </div>
    </div>
    <div class="row">
        <div class="col-6 StyleContainerR">
            <div class="card StyleCard">
                <fa-icon class="card-img-top text-center IconOrdinary" [icon]="faHandHoldingUsd"></fa-icon>
                <p class="card-text text-center TextOrdinary">Cartera Ordinaria</p>
                <div class="card-footer LinkContinue">
                    <a href="#" class="card-link">Continuar</a>
                </div>
            </div>
        </div>
        <div class="col-6 StyleContainerL">
            <div class="card StyleCard">
                <fa-icon class="card-img-top text-center IconLeasing" [icon]="faHome"></fa-icon>
                <p class="card-text text-center TextLeasingL">Leasing</p>
                <div class="card-footer LinkContinueL">
                    <a href="#" class="card-link">Continuar</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container ContainerLineCredit d-block d-sm-block d-md-none">
    <div class="alert alert-warning row AlertM" role="alert">
        <div class="col-1 ColIcon">
            <fa-icon class="IconWarning" [icon]="faExclamationCircle"></fa-icon>
        </div>
        <div class="col-11 TextAlert">Las demás líneas de crédito no estarán disponibles por el momento</div>
    </div>
</div>
<!--End Movil-->
<!--Tablet-->
<div class="container d-none d-md-block d-lg-none">
    <ul class="nav nav-pills ItemCreditLine">
        <li class="nav-item" [ngClass]="operation" (click)="borderChangeOperation()">
            <a class="nav-link active StyleOperation" href="#">Operación</a>
        </li>
        <li class="nav-item" [ngClass]="indicator" (click)="borderChangeIndicator()">
            <a class="nav-link" href="#">Indicadores</a>
        </li>
        <li class="nav-item" [ngClass]="client" (click)="borderChangeClient()">
            <a class="nav-link" href="#">Información Cliente</a>
        </li>
    </ul>
    <div class="row">
        <div class="col-12 TextCreditLine mt-md-3">
            Indique la línea de crédito que quiere reconsiderar
        </div>
    </div>
    <div class="row CardTablet">
        <div class="col-4 StyleContainerR">
            <div class="card StyleCard">
                <fa-icon class="card-img-top text-center IconOrdinary" [icon]="faHandHoldingUsd"></fa-icon>
                <p class="card-text text-center TextOrdinary">Cartera Ordinaria</p>
                <div class="card-footer LinkContinue">
                    <a href="#" class="card-link">Continuar</a>
                </div>
            </div>
        </div>
        <div class="col-4 StyleContainerL">
            <div class="card StyleCard">
                <fa-icon class="card-img-top text-center IconLeasing" [icon]="faHome"></fa-icon>
                <p class="card-text text-center TextLeasingL">Leasing</p>
                <div class="card-footer LinkContinueL">
                    <a href="#" class="card-link">Continuar</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container ContainerLineCredit d-none d-md-block d-lg-none mt-md-4">
    <div class="alert alert-warning row AlertM" role="alert">
        <div class="col-1 ColIcon">
            <fa-icon class="IconWarning" [icon]="faExclamationCircle"></fa-icon>
        </div>
        <div class="col-11 TextAlert">Las demás líneas de crédito no estarán disponibles por el momento</div>
    </div>
</div>
<!--End Tablet-->
<!--Desktop-->
    <div class="container d-none d-md-none d-lg-block">
    <ul class="nav nav-pills ItemCreditLine">
        <li class="nav-item" [ngClass]="operation" (click)="borderChangeOperation()">
            <a class="nav-link active StyleOperation" href="#">Operación</a>
        </li>
        <li class="nav-item" [ngClass]="indicator" (click)="borderChangeIndicator()">
            <a class="nav-link" href="#">Indicadores</a>
        </li>
        <li class="nav-item" [ngClass]="client" (click)="borderChangeClient()">
            <a class="nav-link" href="#">Información Cliente</a>
        </li>
    </ul>
    <div class="row LineCreditLg">
        <div class="col-lg-6 TextCreditLine mt-md-3">
            Indique la línea de crédito que quiere reconsiderar
        </div>
    </div>
    <div class="row CardTablet">
        <div class="col-lg-3 StyleContainerR">
            <div class="card StyleCard">
                <fa-icon class="card-img-top text-center IconOrdinary" [icon]="faHandHoldingUsd"></fa-icon>
                <p class="card-text text-center TextOrdinary">Cartera Ordinaria</p>
                <div class="card-footer LinkContinue">
                    <a href="#" class="card-link">Continuar</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 StyleContainerL">
            <div class="card StyleCard">
                <fa-icon class="card-img-top text-center IconLeasing" [icon]="faHome"></fa-icon>
                <p class="card-text text-center TextLeasingL">Leasing</p>
                <div class="card-footer LinkContinueL">
                    <a href="#" class="card-link">Continuar</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container ContainerLineCredit d-none d-md-none d-lg-block mt-md-4 col-lg-6">
    <div class="alert alert-warning row AlertM" role="alert">
        <div class="col-lg-1 ColIcon">
            <fa-icon class="IconWarning" [icon]="faExclamationCircle"></fa-icon>
        </div>
        <div class="col-lg-8 TextAlert">Las demás líneas de crédito no estarán disponibles por el momento</div>
    </div>
</div>
<!--End Desktop-->