<div class="container text-center pt-4 pb-2 mt-md-5">
        <a class="navbar-brand d-none d-sm-none d-md-none d-lg-block ArrowLg" href="#"><fa-icon class="arrowNavBar" [icon]="faArrowLeft"></fa-icon></a>
    <div class="row" *ngIf="dataBanc">
        <div class="col-12 font-weight-bold TitleBussiness pb-2">{{dataBanc.nombre}}</div>
        <div class="col-12 NitBussiness pb-2">{{dataBanc.nit}}</div>
        <div class="col-12 DetailsBussiness">Capa: {{dataBanc.capa}} <span class="DotColor">.</span> Segmento: {{dataBanc.segmento}}</div>
    </div>
    <div class="row d-block d-sm-none">
        <div class="col-1"></div>
        <div class="col-10 BorderBussiness pt-4"></div>
        <div class="col-1"></div>
    </div>
</div>
