.TitleBussiness
    color #2b3946
    font-size: 1.2em
.NitBussiness
    font-size 0.75em
    color #7e8e96
    text-shadow 0px 0px 0.5px #7e8e96
    font-weight 400
.DetailsBussiness
    color #2b3946
    font-size 0.9em
    font-weight: 600
.DotColor
    color #3ca6e0
    font-size 16px
    position relative
    bottom 3px
    font-weight 800
.BorderBussiness
    border-bottom 2px solid #f0f0f0
    position relative
    left 24px
.ArrowLg
    position absolute
    left 29%
    top 16%