/*Style for navbar*/
/*Fabián Mauricio Rojas Giraldo*/

.imgBanco
    width 12rem
.navbar-toggler
    border 0px
/*Style for change navbar-toggler-icon*/
.navbar-toggler-icon
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 156, 225, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
.arrowNavBar
    color #359DE1
.borderNav
    border-bottom 2px solid #f0f0f0

/*Style for Profile*/
.ContainerProfile
    justify-content flex-end
.ProfileImage
    border-radius 50%
    width 40%
.ProfileName
    margin-bottom 2px
    color #2b3946
    font-weight bold
.DataDescription
    position relative
    top 5px
    text-align right
    padding-right 30px
    color #7e8e96
/*Media Querys*/
@media (max-width: 320px)
    .ContainerProfile
        flex-flow nowrap