<nav class="navbar navbar-expand-lg navbar-light borderNav">
    <a class="navbar-brand d-block d-sm-block d-md-block d-lg-none" href="#"><fa-icon class="arrowNavBar" [icon]="faArrowLeft"></fa-icon></a>
    <img src="../../../assets/images/bancoccidente.jpg" alt="Imagen Banco" class="imgBanco">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="container ContainerProfile">
        <div class="DataDescription">
            <p class="ProfileName" *ngIf="infoBanco">{{infoBanco.gerenteRelacion}}</p>
            <p class="Job">Gerente de Relación</p>
        </div>
        <div>
          <img class="ProfileImage" src="../../../assets/images/avatar.jpg" alt="Imágen de Perfil Usuario">
        </div>
      </div>
    </div>
  </nav>
